



footer h9 {
  margin-left: 15vw ;
  
}

#frm{
  margin-left: 18vw ;
  border: 1px solid limegreen;
  width: 55vw ;
  padding-top: 5vw ;
  padding-left: 5vw ;
  padding-right: 5vw ;
  padding-bottom: 8vw ;
  text-align: center;
  text-justify: center;
  background-color:  rgba(57, 199, 48, 0.05);
  
  
}

#strt{
  background-color: lightgoldenrodyellow ;
  border: 1px solid limegreen;
  width: 20vw ;
  text-align: center ;
  text-justify: center ;
  margin-left: 40vw ;
  border-radius: 5px ;
}


#cntr{
  margin-left: 35vw ;
}


.mrg{
  margin-left: 5vw ;
}

#ch{
  
  width: 100vw ;
  height: 50vh ;

}


#ch1{
  
  width: 100vw ;
  height: 12vh ;

}



#frame{
  background-color: white ;
  height: 20vh ;
  width: 90vw ;
  margin-left: 5vw ;
  border: 1px solid limegreen;
  text-align: center;
  text-justify: center;

  
}


li.input {
  background-color: lightsteelblue ;
  width: 50vw ;
  color: grey ;
  font-size: 8vw ;
  border: 1px solid limegreen;
  list-style-type: none;

}


li {

  width: 50vw ;
  color: black ;
  font-size: 8vw ;
}


body {
  font-family: Lato, sans-serif;
  background-color: /* rgba(53, 59, 55, 0.9490196078431372) */  floralwhite   ; 
  margin: 0;
}

footer{
  background-color: lightblue ;
  padding-top: 1vh ;
  padding-bottom: 1vh;
  
}

footer p {
  text-align: center;
  background-color: white;
  color: grey;
  font-family: Lato, sans-serif;
  border-radius: 10px;
  font-size: 3vw ;
  margin-bottom: 2vh ;
  margin-top: 2vh ;
}


h1 {
  margin-top: 0 ;
  padding: 1% 5%;
  color: lavender;
  text-align: center;
  background-color: green;
  border: 5px solid lightgreen;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  font-weight: bold;
  border-radius: 10px;
  box-shadow: 2px 2px 5px lightyellow;
}

ol {
  color: #e06363;
  font-weight: bold;
  box-shadow: 2px 2px 5px lightblue;
  border-radius: 15px;
  padding: 5% 10%;
}

p {
  font-family: verdana;
  font-size: 20px;
  margin-bottom: 10%;
  line-height: 1.5;
  color: rgba(48, 93, 199, 0.9490196078431372);
  margin-left: 5vw;
  margin-right: 5vw;
}



